/* src/css/home.css */

body {
  overflow-x: hidden; /* Oculta qualquer conteúdo que ultrapasse a largura da tela */
}

.home-container {
  padding: 50px;
}

.top-content {
  margin-bottom: 30px; /* Espaço entre o conteúdo superior e a seção de habilidades */
  display: flex;
  align-items: center;
}

.left-content {
  padding-left: 15%;
}

.txt-nome span {
  position: relative;
}

.txt-nome span::before {
  content: "";
  color: #55ffe1;
  animation: palavra-nome 20s forwards;
}

.txt-nome span::after {
  content: "";
  position: absolute;
  height: 100%;
  border-left: 2px solid #55ffe1;
  right: -10px;
  animation: cursor-nome .8s infinite, digitar-nome 20s steps(15) forwards;
  background-color: black;
  width: calc(100% + 13px);
}

@keyframes digitar-nome {
  5% {
      width: 0;
  }
  100% {
      width: 0%;
  }
}

@keyframes cursor-nome {
  0% {
      border-left: 2px solid black;
  }
}

@keyframes palavra-nome {
  0%, 20% {
      content: "Neto Hoffmann";
  }
  100% {
    content: "Neto Hoffmann";
  }
}

.legenda {
  color: #55ffe1;
}

.right-content {
  display: flex;
  justify-content: flex-end;
  padding-right: 15%;
}

.eu-img {
  position: relative;
  z-index: 1;
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px #55ffe1;
  animation: slideIn 1s ease-out forwards, float 5s ease-in-out infinite;
}

@keyframes slideIn {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes float {
  0%, 100% {
      transform: translateY(10px);
  }
  50% {
      transform: translateY(-10px);
  }
}

.Sobre {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), #55ffe067, rgba(0, 0, 0, 0));
  height: 70vh;
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.cv {
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  margin: 10px;
  background: none;
  border-color: #55ffe1;
  cursor: pointer;
  transition: all 0.3s ease; /* Suaviza a transição */
}

.cv:hover {
  color: black;
  background-color: #55ffe1;
  box-shadow: 0 0 20px #55ffe1;
}

.card-left {
  text-align: center;
  border-color: #55ffe1;
  border: 1px;
  border-radius: 15;
  width: 100%;
  padding: 0, 0, 0, 0;
  margin-left: 20px;
}
.card-center {
  text-align: center;
  border-color: #55ffe1;
  border: 1px;
  border-radius: 15;
  width: 100%;
  padding: 0, 0, 0, 0;
}
.card-rigth {
  text-align: center;
  border-color: #55ffe1;
  border: 1px;
  border-radius: 15;
  width: 100%;
  padding: 0, 0, 0, 0;
}

.linha {
  width: 70%;
  border-bottom: 2px solid #55ffe1;
}

.button-legenda {
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 15px;
  margin: 10px;
  background: none;
  border-color: #55ffe1;
  cursor: pointer;
  transition: all 0.3s ease; /* Suaviza a transição */
}

.button-legenda:hover {
  color: black;
  background-color: #55ffe1;
  box-shadow: 0 0 20px #55ffe1;
}

.bord-top-left{
  border-top-left-radius: 10px;
}
.bord-button-left {
  border-bottom-left-radius: 10px;
}

.row-skills{
  width: 100%;
  display: flex;
  background-color: #1d283271;
  padding: 40px;
  border-radius: 20px;
}

.button-dev-left{
  color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-color: #55ffe1;
  cursor: pointer;
  transition: all 0.3s ease;
  border-right: none;
}

.button-dev-left:hover {
  color: black;
  background-color: #55ffe1;
  box-shadow: 0 0 20px #55ffe1;
}

.button-dev-center{
  color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-color: #55ffe1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-dev-center:hover {
  color: black;
  background-color: #55ffe1;
  box-shadow: 0 0 20px #55ffe1;
}

.button-dev-rigth{
  color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-color: #55ffe1;
  cursor: pointer;
  transition: all 0.3s ease;
  border-left: none;
}

.button-dev-rigth:hover {
  color: black;
  background-color: #55ffe1;
  box-shadow: 0 0 20px #55ffe1;
}

.button-dev-left-titulo{
  color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1d2832;
  justify-content: center;
  border-color: #55ffe1;
  cursor: pointer;
  transition: all 0.3s ease;
  border-right: none;
  border-top-left-radius: 15px;
}

.button-dev-left-titulo:hover {
  color: black;
  background-color: #55ffe1;
  box-shadow: 0 0 20px #55ffe1;
}

.button-dev-rigth-titulo{
  color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d2832;
  border-color: #55ffe1;
  cursor: pointer;
  transition: all 0.3s ease;
  border-left: none;
  border-top-right-radius: 15px;
}

.button-dev-rigth-titulo:hover {
  color: black;
  background-color: #55ffe1;
  box-shadow: 0 0 20px #55ffe1;
}


.button-dev-left-button{
  color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-color: #55ffe1;
  cursor: pointer;
  transition: all 0.3s ease;
  border-right: none;
  border-bottom-left-radius: 15px;
}

.button-dev-left-button:hover {
  color: black;
  background-color: #55ffe1;
  box-shadow: 0 0 20px #55ffe1;
}

.button-dev-rigth-button{
  color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-color: #55ffe1;
  cursor: pointer;
  transition: all 0.3s ease;
  border-left: none;
  border-bottom-right-radius: 15px;
}

.button-dev-rigth-button:hover {
  color: black;
  background-color: #55ffe1;
  box-shadow: 0 0 20px #55ffe1;
}

.titulo{
  background-color: #1d2832;
}

.button-wrapper {
  position: relative;
}

.popup {
  visibility: hidden;
  width: 200px; /* Largura do pop-up */
  background-color: #000000d5;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Posição acima do botão */
  left: 50%;
  margin-left: -100px; /* Metade da largura do pop-up para centralizá-lo */
  opacity: 0;
  transition: opacity 0.3s;
}

.popup::after {
  content: "";
  position: absolute;
  top: 100%; /* Embaixo do pop-up */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.button-wrapper:hover .popup {
  visibility: visible;
  opacity: 1;
}

.projects-section {
  padding: 50px;
}

.projects-buttons {
  width: 100%;
  display: flex;
  padding: 40px;
  border-radius: 20px;
}

.project-button {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  display: flex;
  background: none;
  border-color: #55ffe1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.b-p-direita{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.b-p-esquerda{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.project-button.active {
  background-color: black;
}

.projects-list {
  width: 100%;
  display: flex;
  padding: 40px;
  border-radius: 20px;
}

.project {
  margin: 10px;
  width: 300px;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.project:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-text {
  text-align: center;
}

.project-text p {
  margin-bottom: 10px;
}

.saiba-mais {
  background-color: #55ffe1;
  color: black;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.saiba-mais:hover {
  background-color: black;
  color: white;
}